html,
body {
    height: 100%;
    background: #f2f2f2;
}

img { display: block; width: 100%; }

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Controls
---------------------------------------------------------------------- */
.inner { max-width: 1200px; margin: 0 auto; }

.control {
    cursor: pointer;
    color: white;
    transition: background 150ms;
    max-width: 200px;
    padding: 0 20px;
    border: none;
    line-height: 50px;
    border: 1px solid currentColor;
    margin-bottom: 20px;
}

.control:hover {
    color: #ccc;
    background: #fff;
}

.control[data-filter=".spring"] {
    color: #ff0055;
}

.control[data-filter=".summer"] {
    color: #00ffa2;
}

.control[data-filter=".fall"] {
    color: #ff9900;
}

.control[data-filter=".winter"] {
    color: #00ddff;
}

/* Target Elements
---------------------------------------------------------------------- */
.weather-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
}

.weather-list .mix {
    border-top: .5rem solid currentColor;
    margin: 0 5px 10px;
    position: relative;
    overflow: hidden;
}

.weather-list .mix img {
  transition: transform 0.3s ease;
}
.weather-list .mix:hover img {
  transform: scale(1.1);
}

.weather-list .mix.spring {
    color: #ff0055;
}

.weather-list .mix.summer {
    color: #00ffa2;
}

.weather-list .mix.fall {
    color: #ff9900;
}

.weather-list .mix.winter {
    color: #00ddff;
}

/* 3 Columns */
.weather-list .mix {
    /* flex: 0 1; */
    flex-basis: calc(33.33% - 10px);
}

/* 2 Columns */
@media screen and (max-width: 768px) {
    .weather-list .mix {
        flex-basis: calc(50% - 10px);
    }
}

/* 1 Columns */
@media screen and (max-width: 520px) {
    .weather-list .mix{
        flex-basis: calc(100% - 10px);
    }
}

